@* This view is responsible for rendering an item of unknown content type in tiles view *@
@using SmithsonianSearch.Configuration
@using SmithsonianSearch.Helpers
@model SmithsonianSearch.Models.ResultItems.GenericResultItem

@{
    var imageAlt = HttpUtility.UrlDecode(string.IsNullOrEmpty(Model.Title) ? "Link" : Model.Title);
    var imageSrc = string.IsNullOrEmpty(Model.ImageUrl) ? Url.Content("~/img/no_image.png") : Model.ImageUrl;
}

<li class="clearfix">
    <a class="imageLink" href="@Model.Url"><img src="@imageSrc" alt="@imageAlt" /></a>
    <ul>        
        <li><h2><a href="@Model.Url" title="@Model.Title">@Html.Raw(Model.Title.Truncate(Config.Instance.ItemTitleMaxLength))</a></h2></li>
    </ul>
</li>