@* This view is responsible for rendering articles in list view *@
@model SmithsonianSearch.Models.SearchResultsModels.SearchResultsModelArticles

@helper GetRowClass(int index)
{
    if (index % 2 == 0)
    {
        @:alt
    }
}

@{
    bool printHeader = ViewData.ContainsKey("printHeader") ? (bool)ViewData["printHeader"] : true;
    int index = 1;
}

@if (Model.Items != null && Model.Items.Any())
{
    if (printHeader)
    {
    <text>
        <table class="searchResultsTable">
            <thead>
                <tr class="header">
                    <th><img src="~/img/header_title.png" alt="Title" title="Title" /></th>
                    <th><img src="~/img/header_category.png" alt="Category" title="Category" /></th>
                    <th><img src="~/img/header_author.png" alt="Author" title="Author" /></th>
                </tr>
            </thead>
            <tbody>
     </text>
    }

    foreach (var article in Model.Items)
    {
                <text>
                <tr class="@GetRowClass(index++)">
                    <td><a href='@article.Url' title='@article.Title'>@article.Title</a></td>
                    <td>@article.Category</td>
                    <td>@article.Author</td>
                </tr>
                </text>
    }
    
    @ViewHelperMethods.RenderLazyLoadingLink(Model.SearchModel, 3)

    if (printHeader)
    {
       @:</tbody></table>
    }
}
else if (Model.SearchModel != null && !string.IsNullOrEmpty(Model.SearchModel.Query))
{
    @Html.Partial("NoResults")
}