@* This view is responsible for rendering tracks in list view *@
@model SmithsonianSearch.Models.SearchResultsModels.SearchResultsModelTracks

@helper GetRowClass(int index)
{
    if (index % 2 == 0)
    {
        @:alt
    }
}

@{
    bool printHeader = ViewData.ContainsKey("printHeader") ? (bool)ViewData["printHeader"] : true;
    int index = 1;
}

@if (Model.Items != null && Model.Items.Any())
{
    if (printHeader)
    {
    <text>
        <table class="searchResultsTable">
            <thead>
                <tr class="header">
                    <th></th>
                    <th><img src="~/img/header_title.png" alt="Title" title="Title" /></th>
                    <th><img src="~/img/header_album_title.png" alt="Album Title" title="Album Title" /></th>
                    <th><img src="~/img/header_artist.png" alt="Artist" title="Artist" /></th>
                    <th><img src="~/img/header_year.png" alt="Year" title="Year" /></th>
                    <th width="175"><img src="~/img/header_price.png" alt="Price" title="Price" /></th>
                </tr>
            </thead>
            <tbody>
     </text>
    }

    foreach (var track in Model.Items)
    {
        <text>
            <tr class="@GetRowClass(index++)">
                <td>
                    @if (track.Player != null)
                    {
                        <div id="@track.Player.ContainerId" class="track-player">&nbsp;</div>
                        @Html.Partial("PicklePlayerScript", track.Player)
                    }
                </td>
                <td><a href='@track.Url' title='@track.Title'>@track.Title</a></td>
                <td>@track.AlbumTitle</td>
                <td>@track.Artist</td>
                <td>@track.Year</td>
                <td>@Html.Partial("BuyLinks", track)</td>
            </tr>
        </text>
    }
    
    @ViewHelperMethods.RenderLazyLoadingLink(Model.SearchModel, 5)

    if (printHeader)
    {
       @:</tbody></table>
    }
}
else if (Model.SearchModel != null && !string.IsNullOrEmpty(Model.SearchModel.Query))
{
    @Html.Partial("NoResults")
}