@* This view is responsible for rendering tools for teaching in list view *@
@model SmithsonianSearch.Models.SearchResultsModels.SearchResultsModelToolsForTeaching

@helper GetRowClass(int index)
{
    if (index % 2 == 0)
    {
        @:alt
    }
}

@{
    bool printHeader = ViewData.ContainsKey("printHeader") ? (bool)ViewData["printHeader"] : true;
    int index = 1;
}

@if (Model.Items != null && Model.Items.Any())
{
    if (printHeader)
    {
    <text>
        <table class="searchResultsTable toolsForTeaching">
            <thead>
                <tr class="header">
                    <th class="title"><img src="~/img/header_title.png" alt="Title" title="Title" /></th>
                    <th class="region"><img src="~/img/header_region.png" alt="Region" title="Region" /></th>
                    <th class="country"><img src="~/img/header_country.png" alt="Country" title="Country" /></th>
                    <th class="grades"><img src="~/img/header_grades.png" alt="Grades" title="Grades" /></th>
                </tr>
            </thead>
            <tbody>
     </text>
    }

    foreach (var toolForTeaching in Model.Items)
    {
                <text>
                <tr class="@GetRowClass(index++)">
                    <td class="title"><a href='@toolForTeaching.Url' title='@toolForTeaching.Title'>@toolForTeaching.Title</a></td>
                    <td class="region">@toolForTeaching.Region</td>
                    <td class="country">@toolForTeaching.Country</td>
                    <td class="grades">@toolForTeaching.Grades</td>
                </tr>
                </text>
    }
    
    @ViewHelperMethods.RenderLazyLoadingLink(Model.SearchModel, 4)

    if (printHeader)
    {
       @:</tbody></table>
    }
}
else if (Model.SearchModel != null && !string.IsNullOrEmpty(Model.SearchModel.Query))
{
    @Html.Partial("NoResults")
}