@* This view is responsible for rendering a tool for teaching in tiles view *@
@using SmithsonianSearch.Configuration
@using SmithsonianSearch.Helpers
@model SmithsonianSearch.Models.ResultItems.ToolForTeaching

@{
    var imageAlt = HttpUtility.UrlDecode(string.IsNullOrEmpty(Model.Title) ? "Link" : Model.Title);
    var imageSrc = string.IsNullOrEmpty(Model.ImageUrl) ? Url.Content("~/img/tool-for-teaching-thumb.gif") : Model.ImageUrl;
}

<li class="clearfix">
    <a class="imageLink" href="@Model.Url">
        <img src="@imageSrc" alt="@imageAlt" />
        <span class="content-type-overlay">TOOL FOR TEACHING</span>
    </a>
    <ul>
        <li><h2><a href="@Model.Url" title="@Model.Title">@Html.Raw(Model.Title.Truncate(Config.Instance.ItemTitleMaxLength))</a></h2></li>
        @if (!string.IsNullOrEmpty(Model.Region))
        {
        <li title="@Model.Region"><em>Region(s)</em>@Model.Region.Truncate(Config.Instance.ItemFieldMaxLength)</li>
        }
        @if (!string.IsNullOrEmpty(Model.Country))
        {
        <li title="@Model.Country"><em>Country(s)</em>@Model.Country.Truncate(Config.Instance.ItemFieldMaxLength)</li>
        }
        @if (!string.IsNullOrEmpty(Model.Grades))
        {
            <li title="@Model.Grades"><em>Grades</em>@Model.Grades.Truncate(Config.Instance.ItemFieldMaxLength)</li>
        }
    </ul>
    
</li>