@* This view is responsible for rendering albums in list view *@
@model SmithsonianSearch.Models.SearchResultsModels.SearchResultsModelAlbums

@helper GetRowClass(int index)
{
    if (index % 2 == 0)
    {
        @:alt
    }
}

@{
    bool printHeader = ViewData.ContainsKey("printHeader") ? (bool)ViewData["printHeader"] : true;
    int index = 1;
}

@if (Model.Items != null && Model.Items.Any())
{
    if (printHeader)
    {
        <text>
            <table class="searchResultsTable">
            <thead>
                <tr class="header">
                    <th class="sortable"><a href="#"><img src="~/img/header_album_title.png" alt="Album Title" title="Album Title" /></a></th>
                    <th class="sortable" width="160"><a href="#"><img src="~/img/header_artist.png" alt="Artist" title="Artist" /></a></th>
                    <th class="sortable"><a href="#"><img src="~/img/header_year.png" alt="Year" title="Year" /></a></th>
                    <th class="sortable"><a href="#"><img src="~/img/header_catalog_no.png" alt="Catalog No." title="Catalog No." /></a></th>
                    <th width="175"><img src="~/img/header_price.png" alt="Price" title="Price" /></th>
                </tr>
            </thead>
            <tbody>
        </text>
    }

    foreach (var album in Model.Items)
    {
        <text>
            <tr class="@GetRowClass(index++)">
                <td><a href='@album.Url' title='@album.Title'>@album.Title</a></td>
                <td>@album.Artist</td>
                <td>@album.Year</td>
                <td>@album.CatalogNumber</td>
                <td>@Html.Partial("BuyLinks", album)</td>
            </tr>
        </text>
    }

    @ViewHelperMethods.RenderLazyLoadingLink(Model.SearchModel, 5)

    if (printHeader)
    {
        @:</tbody></table>
    }
}
else if (Model.SearchModel != null && !string.IsNullOrEmpty(Model.SearchModel.Query))
{
    @Html.Partial("NoResults")
}